<ng-template #addCourseModal let-modal>
  <div class="modal-body">
    <form
      class="ps-3 pe-3"
      [formGroup]="addCourseForm"
      (ngSubmit)="onSubmitCreateCourse()"
    >
      <div class="mb-2">
        <label for="username" class="form-label">Course Title</label>
        <input
          class="form-control"
          type="email"
          id="course_title"
          required
          formControlName="course_title"
          placeholder="Course Title"
        />
      </div>

      <div class="mb-3">
        <label for="username" class="form-label">Card Title</label>
        <input
          class="form-control"
          type="email"
          id="card_title"
          required
          formControlName="card_title"
          placeholder="Card Title"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Category</label>

        <select class="form-control" formControlName="category">
          <option value="" disabled selected>Select Category</option>
          <option *ngFor="let cat of category" [value]="cat.id">
            {{ cat.category_title }}
          </option>
        </select>
      </div>

      <br />
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title m-t-0">course image</h4>

              <form #fileUpload="ngForm">
                <ngx-dropzone
                  [multiple]="false"
                  (change)="onSelectImage($event)"
                  class="dropzone"
                  accept="image/jpeg,image/jpg,image/png,image/gif"
                >
                  <ngx-dropzone-label>
                    <i class="h1 text-muted dripicons-cloud-upload"></i>
                    <h3>Drop files here or click to upload.</h3>
                  </ngx-dropzone-label>
                </ngx-dropzone>

                <!-- Preview -->
                <div class="dropzone-previews mt-3" id="file-previews">
                  <!-- file preview template -->
                  <!-- <div id="uploadPreviewTemplate" *ngFor="let f of files"> -->
                  <div id="uploadPreviewTemplate" *ngIf="files">
                    <div class="card mt-1 mb-0 shadow-none border">
                      <div class="p-2">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <img
                              class="avatar-sm rounded bg-light"
                              [alt]="files.name"
                              [src]="getPreviewUrlImg(files)"
                            />
                          </div>
                          <div class="col ps-0">
                            <a
                              href="javascript:void(0);"
                              class="text-muted fw-bold"
                              >{{ files.name }}</a
                            >
                            <p class="mb-0">{{ getSize(files) }}</p>
                          </div>
                          <div class="col-auto">
                            <!-- Button -->
                            <a
                              href="javascript:void(0)"
                              class="btn btn-link btn-lg text-muted"
                              (click)="onRemoveFile($event)"
                            >
                              <i class="dripicons-cross"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end file preview template -->
                </div>
              </form>
            </div>
            <!-- end card-body -->
          </div>
          <!-- end card-->
        </div>
        <!-- end col-->
      </div>

      <div class="mb-3 text-center">
        <button class="btn btn-primary" type="submit" [disabled]="isSubmitting">
          <span
            *ngIf="isSubmitting"
            class="spinner-border spinner-border-sm me-1"
            role="status"
            aria-hidden="true"
          ></span>
          Add Course
        </button>
      </div>
    </form>
  </div>
</ng-template>

<!-- page title -->
<h4>COURSES</h4>
<!-- end page title -->
<div class="col-xl-12">
  <div class="text-xl-end mt-xl-0 mt-2">
    <button
      type="button"
      class="btn btn-primary mb-2 me-2"
      (click)="open(addCourseModal)"
    >
      Add New Course
    </button>
    <!-- <button type="button" class="btn btn-light mb-2">Export</button> -->
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-xxl-3" *ngFor="let course of courses">
    <div class="card h-40 d-flex flex-column border border-dark mb-2">
      <div class="card-body d-flex flex-column">
        <div class="text-center">
          <!-- Image Container -->

          <div class="image-container mb-2">
            <img
              [src]="course?.img || 'assets/images/users/avatar-1.jpg'"
              class="img-fluid rounded"
              style="width: 100%; height: 100%; object-fit: cover"
              alt="course image"
            />
          </div>

          <!-- Course Name (Fixed Height) -->
          <h4 class="course-title mt-2 my-1">
            {{ course.name }}
          </h4>

          <!-- <hr class="bg-dark-lighten my-3" /> -->

          <!-- Button Section (Pushed to Bottom) -->
          <div class="mt-1">
            <button
              class="btn w-100 btn-primary"
              placement="top"
              (click)="goToCourseDetails(course)"
            >
              <p class="mb-0 text-center">Edit Course</p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex flex-wrap justify-content-between p-2" *ngIf="totalCount > 0">
  <div>
    Showing {{ startIndex }} to {{ endIndex }} of {{ totalCount }} entries
  </div>
  <ngb-pagination
    class="pagination-rounded"
    [collectionSize]="totalCount"
    [(page)]="page"
    [pageSize]="limit || 1"
    [maxSize]="3"
    [rotate]="true"
    (pageChange)="onPageChange($event)"
  >
  </ngb-pagination>
</div>

<!-- loading round -->
<!-- <div class="row py-4">
    <div class="col-12 text-center">
      <i class="mdi mdi-dots-circle mdi-spin font-24 text-muted"></i>
    </div>
  </div> -->
